
body{
        background-color: SteelBlue;
        font-family: Arial;
    }


h1 {
    text-align: center;

    }


.main {
display: flex;
justify-content: space-between;
}

.user {

    width: 750px;
   height: 650px;
   background-color: DarkOrange;
   border-radius: 60px;

}